
body
{
  background-image: white;
  text-align: center;
  font-family: Helvetica;
}

.block
{
  background: white;
  color: #2f2f2f;
  margin-left: 35%;
  margin-right:  35%;
  margin-top: 1%;
  width: auto;
  height: auto;
  border-radius: 20px;
  border: 3px solid #2f2f2f;
  float: middle;
  z-index: 1;
  margin-bottom: 40px;
}

.block2
{
  background: white;
  color: #2f2f2f;
  margin-left: 30%;
  margin-right:  30%;
  margin-top: 5%;
  margin-bottom: 2%;
  border-radius: 10px;
  border: 3px solid #2f2f2f;
  float: middle;
  text-align: center;
  padding: auto auto;
  z-index: 1;
}

.spacer5
{
  height: 120px;
}

h1
{
  color: #2f2f2f;
  text-align: center;
  font-size: 2vw;
  font-family: Helvetica;
  margin-top: 0;
  margin-bottom: 0;
}

h2
{
  color: #2f2f2f;
  text-align: center;
  font-size: 1.5vw;
  font-family: Helvetica;
  font-weight: lighter;
  margin-bottom: 0;
  margin-top: 0;
}

h3
{
  color: #2f2f2f;
  text-align: center;
  font-size: 1.5vw;
  font-family: Helvetica;
  margin-top: 4px;
  margin-bottom: 4px;
}

h4
{
  color: #2f2f2f;
  text-align: center;
  font-size: 1vw;
  font-family: Helvetica;
  margin-top: 1px;
  margin-bottom: 1px;
  font-weight: lighter;
}
h5
{
  color: red;
  text-align: center;
  font-size: 2vw;
  font-family: Helvetica;

}

h6
{
  color: #2f2f2f;
  text-align: center;
  font-size: 3vw;
  font-family: Helvetica;
  margin-bottom: 1%;
  margin-top: 1%;
}

.error
{
  margin-top: 1px;
  margin-bottom: 1px;
  outline: 2px solid RED;
  background-color: #ffcccc;
  text-shadow: 0 0 2px red;
}

input[type=text], input[type=password], input[type=email], input[type=username] {
    width: 80%;
    padding: 1% 1.2%;
    margin-left: 10%;
    margin-right: 10%;
    display: inline-block;
    border: 3px solid #2f2f2f;
    box-sizing: border-box;
    font-size: 1.5vw;
    margin-top: 0;
    margin-bottom: 8px;
}

button {
    background-color: #2f2f2f;
    color: white;
    padding: 15px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-family: Helvetica;
    font-size: 2vw;
}

button:hover
{
    padding: 10px 20px;
    color: #2f2f2f;
    background-color: white;
    border-top: 5px solid #2f2f2f;
    border-bottom: 5px solid #2f2f2f;
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}

.overlay
{
  margin-top: 0px;
  position: absolute;
}
p1
{
  color: white;
  font-family: Helvetica;
  font-size: 100%;
}
p3
{
  color: white;
  font-family: Helvetica;
  display: inline-block;
  float: left;
}
p4
{
  color: red;
  padding: 2px;
  font-family: Helvetica;
  display: inline-block;
}

a
{
  text-decoration: none;
}
.container_bot
{
    float: right;
    padding: 1%;
    width: 100%;
    text-align: center;
    bottom: 0;
    left: 0;
    position: fixed;
    background-color: black;
    overflow: hidden;
}

.topnav {
  position: fixed;
  width: 100%;
  margin-top: 0;
  height: auto;
  background-color: #2f2f2f;
  font-family: Helvetica;
  font-size: 2vw;
  z-index: 2;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 1% 1%;
  text-decoration: none;
}

.topnav a:hover {
  background-color: white;
  color: #2f2f2f;
}

.topnav .icon {
  display: none;
}
.spacer
{
  margin-top: 5%;
}

.sbut:hover
{
  padding: 10px 20px;
  color: #2f2f2f;
  background-color: white;
  border-top: 5px solid #2f2f2f;
  border-bottom: 5px solid #2f2f2f;
  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}

.sbut
{
  background-color: #2f2f2f;
  color: white;
  cursor: pointer;
  font-family: Helvetica;
  font-size: 2vw;
  display: inline-block;
  padding: 15px 20px;
}

.booth
{
  border: 5px solid #2f2f2f;
  float: center;
  text-align: center;
  display: inline-block;
  width: 410px;
  height: 310px;
  background-color: grey;
}

#canvas
{
  border-radius: 10px;
}

ul li {
   list-style: none;
   margin-bottom: 15px;
   float: middle;
 }
			ul li img {display: block;}
			ul li span {display: block;}
  
  
    .pagination {
        display: inline-block;
    }
    
    .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
        border: 1px solid #ddd;
        font-size: 22px;
    }
    
    .pagination a.active {
        background-color: #4CAF50;
        color: white;
        border: 1px solid #4CAF50;
    }
    
    .pagination a:hover:not(.active) {background-color: #ddd;}